@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;600&family=JetBrains+Mono&family=Montserrat:wght@500&display=swap');
.card{
    display: flex;
    margin: 20px;
    align-items: center;
    width: 500px;
    max-width: 600px;
    padding: 20px 30px 30px 80px;
    background:#676f9d;
    border-radius: 24px;
   
    
}

.card img{
    max-width: 280px;
    width: 300px;
    object-fit: cover;
    margin-left: -60px;
    margin-right: 30px;
    border-radius: inherit;
    box-shadow: 0 60px 40px rgb(0, 0, 0/10%);
    transition: 0.6s;
    &:hover{
        max-width: 305px;
    }
}
.card_name{
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-family: 'Inter', sans-serif;
}

.card_name h2{
    color: #f9b17a;
    font-size: 35px;
    font-weight: 600;
}


.card_name h3{
    color: #ffffff;
    font-weight: 500;
}

.card_name p{
    color: #ffffff;
    font-weight: 300;
}

.card_name a{
    text-align: center;
    background: #f9b17a;
    color: #ffffff;
    font-family: inherit;
    padding: 10px 20px;
    font-size: 26px;
    border-radius: 40px;
    text-decoration: none;
    transition: 0.6s;
    &:hover{
        background: #2d3250;
    }
    
}