*{
    margin: 0;
    padding: 0;
}

.body{
    background: #2d3250;
    
}

.bodymain{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}


